<!DOCTYPE html>
<html ng-app="MyApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


  <meta charset="utf-8">
  <title>JS Bin</title>
  <style type="text/css">
    input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    }

textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
    }

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    }

.form label {
    margin-left: 10px;
    color: #999999;
    }

.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
  </style>
</head>
<body ng-controller="home">
  <form ng-submit="submit()" name='shortForm' class="form">
    <input type="url" ng-model="url" name='url' required placeholder='http://domain.com'><span ng-show='shortForm.url.$error.url' > ñ parece uma URL. / does not seems like a URL </span>
    <br />
    <input type="text" ng-model="label" name='label' placeholder='label'>
    <br />
    <textarea ng-model="notes" name='notes' required placeholder='Some notes...'></textarea>
    <br />
    <input type="submit" ng-disabled='shortForm.$invalid' class="submit">
  </form>

    <div ng-show="shrotUrl">
      <span id='copy_this_text'>{{shrotUrl}}</span>
      <button id="copy-button" title="Click me to copy to clipboard." data-clipboard-target="copy_this_text" data-clipboard-text="Default clipboard text from attribute">
        <b>Copy To Clipboard...</b>
      </button>
    </div>

    <div ng-show="error">
      <p>{{error}}</p>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.0.1/ZeroClipboard.min.js"></script>
    <script type="text/javascript">

      app = angular.module('MyApp',[])

      app.controller('home', ["$scope", function($scope){

        var success =  function(data){
              $scope.shrotUrl = data.url;
              $scope.$apply();
            }, fail = function(obj,str,msg){
              if(obj.responseText){
                $scope.error = $.parseJSON(obj.responseText)['message'];
              }else{
                $scope.error = msg;
              }
              $scope.$apply();
            };

        $scope.submit = function(){
          $.ajax({
            type: "POST",
            crossDomain: true,
            url: 'http://r.kbrvrgl.me/api/short',
            data: {url: $scope.url, notes: $scope.notes, label: $scope.label },
            beforeSend: function(x){ x.setRequestHeader('Authorization','Basic ZGV2OmRldg==') }
          }).done(success).fail(fail)
        }
      }])


      jQuery(document).ready(function(){
        ZeroClipboard.config( { swfPath: 'http://ajax.cdnjs.com/ajax/libs/zeroclipboard/2.0.1/ZeroClipboard.swf' } );
        var clip = new ZeroClipboard(jQuery("#copy-button"));
      });

  </script>
</body>
</html>